{% extends 'base.html' %}
{% block title %}Referensi Alat{% endblock %}
{% block menu %}setting{% endblock %}
{% block content %}
<br>
<ul class="path">
	<li>Setting</li>
	<li>></li>
	<li>Referensi Alat</li>
</ul>
<h3>Referensi Alat</h3>
<div class="clearfix"></div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-tambah-alat">Tambah</button>
<div class="table-content">
	<br>
	<form method="post">
		<table class="table table-bordered" id="myTable">
			<thead>
				<tr>
					<th class="tb-no">No</th>
					<th>Nama Alat</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for item in alat %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ item.nama_alat }}</td>
					<td>{{ item.isaktif }}</td>
					<td>
						<button type="button" class="btn btn-primary btn-xs edit-alat" data-id="{{ item.id }}">Edit</button>
						<button type="button" class="btn btn-danger btn-xs hapus-alat" data-id="{{ item.id }}">Hapus</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
	<div class="clear"></div>
</div>
<div class="modal fade" id="modal-tambah-alat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Data Alat</h4>
      </div>
      <div class="modal-body">
      	<form method="post" id="form-tambah-alat" enctype="multipart/form-data">
      		<div class="row">
				<div class="col-sm-6">
			      	<div class="form-group">
			      		<label>Nama Alat</label>
			      		<input type="text" class="form-control nama_alat" name="nama_alat">
			      	</div>
			    </div>
			    <div class="col-sm-6">
			      	<div class="form-group">
			      		<label>Status</label>
			      		<select class="form-control status" name="status">
			      			<option value="">Pilih Status</option>
			      			<option>Aktif</option>
			      			<option>Tidak Aktif</option>
			      		</select>
			      	</div>
			    </div>
			</div>
			<input type="hidden" name="tambah" value="1">
		</form>
		<div class="form-group">
			<button type="button" class="btn btn-primary simpan-tambah-alat" style="float:right;">Simpan</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;margin-right:4px;">Batal</button>
		</div>
		<div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-edit-alat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Data Alat</h4>
      </div>
      <div class="modal-body">
      	<form method="post" id="form-edit-alat" enctype="multipart/form-data">
		    <div class="row">
		    	<div class="col-sm-6">
			      	<div class="form-group">
			      		<label>Nama Alat</label>
			      		<input type="text" class="form-control nama_alat" name="nama_alat">
			      	</div>
			    </div>
			    <div class="col-sm-6">
			      	<div class="form-group">
			      		<label>Status</label>
			      		<select class="form-control status" name="status">
			      			<option value="">Pilih Status</option>
			      			<option class="aktif">Aktif</option>
			      			<option class="tidak-aktif">Tidak Aktif</option>
			      		</select>
			      	</div>
			    </div>
			</div>
			<input type="hidden" name="tambah" value="1">
		</form>
		<div class="form-group">
			<button type="button" class="btn btn-primary simpan-edit-alat" style="float:right;">Simpan</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;margin-right:4px;">Batal</button>
		</div>
		<div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}