{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block menu %}dashboard{% endblock %}
{% block content %}
<br>
<ul class="path">
	<li>App</li>
	<li>></li>
	<li>Dashboard</li>
</ul>
<h3>Dashboard</h3>
<div class="clearfix"></div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #fff;font-weight:600">Grafik Jumlah Pengunjung</div>
			<div class="panel-body">
				<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #fff;font-weight:600;border-bottom-color: #fff;">Grafik Penggunaan Ruang</div>
			<div class="panel-body">
				<canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
