{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block menu %}dashboard{% endblock %}
{% block content %}
<br>
<ul class="path">
	<li>App</li>
	<li>></li>
	<li>Dashboard</li>
</ul>
<h3>Dashboard</h3>
<div class="clearfix"></div>
<div class="row">
	<div class="col-sm-7">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #fff;font-weight:600">Grafik Jumlah Pengunjung</div>
			<div class="panel-body">
				<canvas id="myChart" style="width:100%;"></canvas>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #fff;font-weight:600;border-bottom-color: #fff;">Grafik Penggunaan Ruang</div>
			<div class="panel-body">
				<canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #fff;font-weight:600">Table Jumlah Kunjungan</div>
	<div class="panel-body">
		<table class="table table-bordered" id="myTable">
			<thead>
				<tr>
					<th class="tb-no">No</th>
					<th>No. KTP</th>
					<th>Nama Pengunjung</th>
					<th>Jabatan</th>
					<th>Instansi</th>
					<th>Jumlah Kunjungan</th>
				</tr>
			</thead>
			<tbody>
			{% for k_item in kunjungan %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ k_item.nik }}</td>
					<td>{{ k_item.nama }}</td>
					<td>{{ k_item.jabatan }}</td>
					<td>{{ k_item.instansi }}</td>
					<td>{{ k_item.jml }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}
{% block jscp %}

var xValues = [{% for don_item in ruang %}"{{ don_item.nama }}",{% endfor %}];
var yValues = [{% for don_item1 in ruang %}{{ don_item1.jml }},{% endfor %}];
var barColors = [{% for don_item2 in ruang %}"green",{% endfor %}];

new Chart("myChart1", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
        display: true,
        position: 'bottom',
    },
    title: {
      display: false,
      text: "World Wide Wine Production"
    }
  }
});

var xValues1 = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Ags", "Sep", "Okt", "Nov", "Des"];
var yValues1 = [{{ jan }},{{ feb }},{{ mar }},{{ apr }},{{ mei }},{{ jun }},{{ jul }},{{ ags }},{{ sep }},{{ okt }},{{ nov }},{{ des }}];
var barColors1 = ["green", "green","green","green","green","green","green","green","green", "green", "green", "green"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues1,
    datasets: [{
      backgroundColor: barColors1,
      data: yValues1
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: false,
      text: ""
    }
  }
});
{% endblock jscp %}