{% extends 'base.html' %}
{% block title %}User{% endblock %}
{% block menu %}setting{% endblock %}
{% block content %}
<br>
<ul class="path">
	<li>Setting</li>
	<li>></li>
	<li>User</li>
</ul>
<h3>User</h3>
<div class="clearfix"></div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-tambah-user">Tambah</button>
<div class="table-content">
	<br>
	<form method="post">
		<table class="table table-bordered" id="myTable">
			<thead>
				<tr>
					<th class="tb-no">No</th>
					<th>Nama Pengguna</th>
					<th>Username</th>
					<th>No. Telp</th>
					<th>Foto</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for item in user %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ item.nama_pengguna }}</td>
					<td>{{ item.username }}</td>
					<td>{{ item.no_telp }}</td>
					<td><img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/media/{{ item.foto }}" alt="foto-ruang" width="100px"></td>
					<td>{{ item.isaktif }}</td>
					<td>
						<div style="width:82px;margin:0 auto">
							<button type="button" class="btn btn-pen btn-xs edit-user" data-id="{{ item.id }}"><i class="fa fa-pencil-alt fa-fw"></i></button>
							<button type="button" class="btn btn-trash btn-xs hapus-user" data-id="{{ item.id }}"><i class="fa fa-trash fa-fw"></i></button>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
	<div class="clear"></div>
</div>
<div class="modal fade" id="modal-tambah-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Data User</h4>
      </div>
      <div class="modal-body">
      	<form method="post" id="form-tambah-user" enctype="multipart/form-data">
		    <div class="row">
		    	<div class="col-sm-6">
			      	<div class="form-group">
			      		<label>Nama Pengguna</label>
			      		<input type="text" class="form-control" name="nama" placeholder="Masukan nama pengguna">
			      	</div>
			      	<div class="form-group">
			      		<label>Email</label>
			      		<input type="text" class="form-control" name="email" placeholder="Masukan nama email">
			      	</div>
			      	<div class="form-group">
			      		<label>Username</label>
			      		<input type="text" class="form-control" name="username" placeholder="Masukan username">
			      	</div>
			      	<div class="form-group">
			      		<label>File Upload</label>
			      		<input type="file" class="form-control" name="upload">
			      	</div>
			    </div>
			    <div class="col-sm-6">
			    	<div class="form-group">
			      		<label>No. Telephone</label>
			      		<input type="text" class="form-control" name="no_telp" placeholder="Masukan nomor telephone">
			      	</div>
			      	<div class="form-group">
			      		<label>Group</label>
			      		<select class="form-control" name="group">
			      			{% for gitem in grup %}
			      			<option value="{{ gitem.id }}">{{ gitem.nama_group }}</option>
			      			{% endfor %}
			      		</select>
			      	</div>
			      	<div class="form-group">
			      		<label>Password</label>
			      		<input type="password" class="form-control" name="password" placeholder="Masukan password">
			      	</div>
			      	<div class="form-group">
			      		<label>Status</label>
			      		<select class="form-control" name="status">
			      			<option>Aktif</option>
			      			<option>Tidak Aktif</option>
			      		</select>
			      	</div>
			    </div>
			</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary simpan-tambah-user" name="tambah" value="1" style="float:right;">Simpan</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;margin-right:4px;">Batal</button>
		</div>
		</form>
		<div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-edit-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Data User</h4>
      </div>
      <div class="modal-body">
      	<form method="post" id="form-edit-user" enctype="multipart/form-data">
		    <div class="row">
		    	<div class="col-sm-6">
			      	<div class="form-group">
			      		<label>Nama Pengguna</label>
			      		<input type="text" class="form-control nama-pengguna" name="nama" placeholder="Masukan nama pengguna">
			      	</div>
			      	<div class="form-group">
			      		<label>Email</label>
			      		<input type="text" class="form-control email" name="email" placeholder="Masukan nama email">
			      	</div>
			      	<div class="form-group">
			      		<label>Username</label>
			      		<input type="text" class="form-control username" name="username" placeholder="Masukan username">
			      	</div>
			      	<div class="form-group">
			      		<label>File Upload</label>
			      		<input type="file" class="form-control" name="upload">
			      	</div>
			    </div>
			    <div class="col-sm-6">
			    	<div class="form-group">
			      		<label>No. Telephone</label>
			      		<input type="text" class="form-control no-telp" name="no_telp" placeholder="Masukan nomor telephone">
			      	</div>
			      	<div class="form-group">
			      		<label>Group</label>
			      		<select class="form-control" name="group">
			      			{% for gitem in grup %}
			      			<option class="g-{{ gitem.id }}" value="{{ gitem.id }}">{{ gitem.nama_group }}</option>
			      			{% endfor %}
			      		</select>
			      	</div>
			      	<div class="form-group">
			      		<label>Password</label>
			      		<input type="password" class="form-control" name="password" placeholder="Masukan password">
			      	</div>
			      	<div class="form-group">
			      		<label>Status</label>
			      		<select class="form-control" name="status">
			      			<option class="aktif">Aktif</option>
			      			<option class="tidak-aktif">Tidak Aktif</option>
			      		</select>
			      	</div>
			    </div>
			</div>
				<div class="form-group">
			<button type="submit" class="btn btn-primary simpan-edit-user" name="edit" style="float:right;">Simpan</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;margin-right:4px;">Batal</button>
		</div>
	</form>
		<div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block jscp %}

{% if msg == 'success' %}

  $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Tambah!</div>Data berhasil ditambah.</div><div class="form-group btn-group-modal-success"><a href="{% url 'user' %}" class="btn btn-success btn-modal-warning btn-modal-success">OK</a></div>');
   $('#modal-success').modal('show');

{% endif %}



{% endblock jscp %}