{% load static %}
<!DOCTYPE html>
<html lang="en" style="min-height:100%;background-color:#f5f5f5">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Administrator - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static '/css/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/fontawesome/css/all.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" href="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/css/admin.css">
    </head>
    <body style="background-color:#f4f4f4">
        <div class="top-bar">
            <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/mobile-pay1.png" class="img-bar">
            <a href="#" class="brands">SIMPEL - Pengunjung </a>
            <div class="btn-burger burger dib pointer"><i class="fas fa-bars"></i></div>
            <div class="navbar-img navbar-right">
                <div class="user-bar drop-bar">
                    <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/default.png" class="user-bar-img">
                    <span class="user-bar-name" style="color:#fff"></span>
                    <span class="dropdown-i"><i class="fa fa-chevron-right fa-fw"></i></span>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <div class="dropmenu">
                <ul class="list-unstyled" style="margin-top: 10px">
                    <li><a href="{% url 'profil' %}"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;Profil</a></li>
                    <li><a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/logout"><i class="fa fa-sign-out-alt fa-fw"></i>&nbsp;&nbsp;Logout</a></li>
                </ul>
            </div>
        <div class="admin-menu">
            <ul class="list-unstyled">
                <li id="dashboard">
                    <a href="{% url 'dashboard' %}" class="admin-menu-first" data-id="#dashboard">
                        <i class="fa fa-home fa-fw"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li id="pengunjung">
                    <a href="{% url 'pengunjung' %}" class="admin-menu-first" data-id="#pengunjung">
                        <i class="fa fa-user fa-fw"></i>
                        <span>Data Pengunjung</span>
                    </a>
                </li>
                <li id="kunjungan">
                    <a href="{% url 'kunjungan' %}" class="admin-menu-first" data-id="#kunjungan">
                        <i class="fa fa-users fa-fw"></i>
                        <span>Data Kunjungan</span>
                    </a>
                </li>
                <li id="setting">
                    <a class="admin-menu-first" data-id="#setting">
                        <i class="fa fa-cog fa-fw"></i>
                        <span>Setting</span>
                        <span class="submenu-i"><i class="fa fa-chevron-right fa-fw"></i></span>
                        <div class="clearfix"></div>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'ruang' %}">Referensi Ruang</a></li>
                        <li><a href="{% url 'alat' %}">Referensi Alat</a></li>
                        <li><a href="{% url 'alasan_kunjungan' %}">Referensi Alasan Kunjungan</a></li>
                        <li><a href="{% url 'group' %}">Group</a></li>
                        <li><a href="{% url 'user' %}">User</a></li>
                    </ul>
                </li>
                <li id="laporan">
                    <a class="admin-menu-first" data-id="#laporan">
                        <i class="fa fa-file fa-fw"></i>
                        <span>Laporan</span>
                        <span class="submenu-i"><i class="fa fa-chevron-right fa-fw"></i></span>
                        <div class="clearfix"></div>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'laporan_tahunan' %}">Laporan Tahunan</a></li>
                        <li><a href="{% url 'laporan_bulanan' %}">Laporan Bulanan</a></li>
                        <li><a href="{% url 'laporan_harian' %}">Laporan Harian</a></li>
                        <li><a href="{% url 'keterangan_kunjungan' %}">Keterangan Kunjungan</a></li>
                        <li><a href="{% url 'kepuasan_kunjungan' %}">Kepuasan Kunjungan</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="data" data-id="#{% block menu %}{% endblock menu %}"></div>
        <div class="contents">{% block content %}{% endblock content %}</div>
        <div class="modal fade" id="modal-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/error.png" class="img-modal-warning">
                    <div class="content-modal-warning"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modal-success" tabindex="-1" role="dialog" data-backdrop="" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <div>
                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div> -->
                    <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/check_circle.png" class="img-modal-warning">
                    <div class="content-modal-success"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function(){
                $.get('{{request.scheme}}://{{request.META.HTTP_HOST}}/user/detail_login', function(data){
                    console.log(data);
                    $('.user-bar-img').attr('src', '{{request.scheme}}://{{request.META.HTTP_HOST}}/media/'+data.foto);
                    $('.user-bar-name').text(data.username);
                    if(data.msg == 'faild'){
                        window.location.href = "{% url 'login' %}";
                    }
                });

                var add = '{% block tablebtn %}{% endblock %}';
                $('#myTable_wrapper').prepend(add);

                $('.simpan-tambah-pengunjung').click(function(){
                    var no_ktp = $('.no-ktp').val();
                    var jabatan = $('.jabatan').val();
                    var kode_rfid = $('.kode-rfid').val();
                    var nama = $('.nama').val();
                    var instansi = $('.instansi').val();
                    var keterangan = $('.alasan-kunjungan').val();

                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/pengunjung/tambah',
                        type: 'post',
                        data:{
                            no_ktp:no_ktp,
                            jabatan:jabatan,
                            kode_rfid:kode_rfid,
                            nama:nama,
                            instansi:instansi,
                            alasan_kunjungan:keterangan
                        },
                        success: function(data){
                            if(data.respon == 'success'){
                                $('#modal-tambah-pengunjung').modal('hide');
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Tambah!</div>Data berhasil ditambah.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.edit-pengunjung').click(function(){
                    var id = $(this).attr('data-id');
                    $('.simpan-edit-pengunjung').attr('data-id', id);
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/pengunjung/data_pengunjung',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            $('.select-alasan-kunjungan').removeAttr('selected');
                            $('.rf-'+data.id_alasan_kunjungan).attr('selected', '');
                            $('.edit-no-ktp').val(data.nik);
                            $('.edit-jabatan').val(data.jabatan_pengunjung);
                            $('.edit-kode-rfid').val(data.rfid);
                            $('.edit-nama').val(data.nama_pengunjung);
                            $('.edit-instansi').val(data.instansi_pengunjung);
                            $('#modal-edit-pengunjung').modal('show');
                        }
                    });
                });

                $('.simpan-edit-pengunjung').click(function(){
                    var id = $(this).attr('data-id');
                    var no_ktp = $('.edit-no-ktp').val();
                    var jabatan = $('.edit-jabatan').val();
                    var kode_rfid = $('.edit-kode-rfid').val();
                    var nama = $('.edit-nama').val();
                    var instansi = $('.edit-instansi').val();
                    var keterangan = $('.edit-alasan-kunjungan').val();

                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/pengunjung/edit',
                        type: 'post',
                        data:{
                            id:id,
                            no_ktp:no_ktp,
                            jabatan:jabatan,
                            kode_rfid:kode_rfid,
                            nama:nama,
                            instansi:instansi,
                            alasan_kunjungan:keterangan
                        },
                        success: function(data){
                            if(data.respon == 'success'){
                                $('#modal-edit-pengunjung').modal('hide');
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Edit!</div>Data berhasil diedit.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });


                $('.hapus-pengunjung').click(function(){
                    var id = $(this).attr('data-id');
                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-pengunjung" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-pengunjung', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/pengunjung/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            console.log(data);
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.detail-kunjungan').click(function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/kunjungan/detail',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            $('.no-ktp').val(data.pengunjung.nik);
                            $('.jabatan').val(data.pengunjung.jabatan_pengunjung);
                            $('.ruang').val(data.kunjungan.ruang);
                            $('.nama').val(data.pengunjung.nama_pengunjung);
                            $('.instansi').val(data.pengunjung.instansi_pengunjung);
                            $('.waktu').val(data.kunjungan.waktu_kunjungan);
                            $('.keterangan').val(data.kunjungan.keterangan_kunjungan);

                            $('#modal-detail-kunjungan').modal('show');
                        }
                    });
                });

                $('.hapus-kunjungan').click(function(){
                    var id = $(this).attr('data-id');
                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-kunjungan" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-kunjungan', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/kunjungan/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" data-dismiss="modal" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.edit-ruang').click(function(){
                    var id = $(this).attr('data-id');
                    $('.simpan-edit-ruang').val(id);
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/ruang/detail',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            $('.nama_ruang').val(data.nama_ruang);
                            $('.kapasitas').val(data.kapasitas);
                            $('.g-'+data.id_alat).attr('selected', '');
                            if(data.isaktif == 'Aktif'){
                                $('.aktif').attr('selected', '');
                            }else{
                                $('.tidak-aktif').attr('selected', '');
                            }

                            $('#modal-edit-ruang').modal('show');
                        }
                    });
                });

                $('.hapus-ruang').click(function(){
                    var id = $(this).attr('data-id');
                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-ruang" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-ruang', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/ruang/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.simpan-tambah-alat').click(function(){
                    var nama_alat = $('.nama_alat').val();
                    var status = $('.status').val();

                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/alat/tambah',
                        type: 'post',
                        data:{
                            nama_alat:nama_alat,
                            status:status
                        },
                        success: function(data){
                            if(data.respon == 'success'){
                                $('#modal-tambah-alat').modal('hide');
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Tambah!</div>Data berhasil ditambah.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.edit-alat').click(function(){
                    var id = $(this).attr('data-id');
                    $('.simpan-edit-alat').val(id);
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/alat/detail',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            $('.edit_nama_alat').val(data.nama_alat);
                            if(data.isaktif == 'Aktif'){
                                $('.aktif').attr('selected', '');
                            }else{
                                $('.tidak-aktif').attr('selected', '');
                            }

                            $('#modal-edit-alat').modal('show');
                        }
                    });
                });

                $('.simpan-edit-alat').click(function(){
                    var id = $(this).val();
                    var nama_alat = $('.edit_nama_alat').val();
                    var status = $('.edit_status').val();

                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/alat/edit',
                        type: 'post',
                        data:{
                            id:id,
                            nama_alat:nama_alat,
                            status:status
                        },
                        success: function(data){
                            if(data.respon == 'success'){
                                $('#modal-tambah-alat').modal('hide');
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Edit!</div>Data berhasil diedit.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.hapus-alat').click(function(){
                    var id = $(this).attr('data-id');

                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-alat" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');


                });

                $(document).on('click', '.ok-hapus-alat', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/alat/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success"  onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                             }
                        }
                    });
                });

                $('.simpan-tambah-group').click(function(){
                    var nama_group = $('.nama_group').val();
                    var status = $('.status').val();

                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/group/tambah',
                        type: 'post',
                        data:{
                            nama_group:nama_group,
                            status:status
                        },
                        success: function(data){
                            if(data.respon == 'success'){
                                $('#modal-tambah-group').modal('hide');
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Tambah!</div>Data berhasil ditambah.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.edit-group').click(function(){
                    var id = $(this).attr('data-id');
                    $('.simpan-edit-group').val(id);
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/group/detail',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            $('.edit_nama_group').val(data.nama_group);
                            if(data.isaktif == 'Aktif'){
                                $('.aktif').attr('selected', '');
                            }else{
                                $('.tidak-aktif').attr('selected', '');
                            }

                            $('#modal-edit-group').modal('show');
                        }
                    });
                });

                $('.simpan-edit-group').click(function(){
                    var id = $(this).val();
                    var nama_group = $('.edit_nama_group').val();
                    var status = $('.edit_status').val();

                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/group/edit',
                        type: 'post',
                        data:{
                            id:id,
                            nama_group:nama_group,
                            status:status
                        },
                        success: function(data){
                            if(data.respon == 'success'){
                                $('#modal-tambah-group').modal('hide');
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Edit!</div>Data berhasil diedit.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.hapus-group').click(function(){
                    var id = $(this).attr('data-id');

                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-group" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-group', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/group/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.edit-user').click(function(){
                    var id = $(this).attr('data-id');
                    $('.simpan-edit-user').val(id);
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/user/detail',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            $('.nama-pengguna').val(data.nama_pengguna);
                            $('.email').val(data.email);
                            $('.username').val(data.username);
                            $('.no-telp').val(data.no_telp);
                            $('.g-'+data.id_group).attr('selected', '');
                            if(data.isaktif == 'Aktif'){
                                $('.aktif').attr('selected', '');
                            }else{
                                $('.tidak-aktif').attr('selected', '');
                            }

                            $('#modal-edit-user').modal('show');
                        }
                    });
                });

                $('.hapus-user').click(function(){
                    var id = $(this).attr('data-id');
                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-user" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-user', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/user/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.hapus-alasan-kunjungan').click(function(){
                    var id = $(this).attr('data-id');
                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-alasan-kunjungan" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-alasan-kunjungan', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/alasan_kunjungan/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.hapus-alasan-kepuasan').click(function(){
                    var id = $(this).attr('data-id');
                    $('.content-modal-warning').html('<div id="text-modal-warning">Apakah anda yakin akan menghapus data ini?</div><div class="form-group btn-group-modal-warning"><button type="button" class="btn btn-primary btn-modal-warning ok-hapus-alasan-kepuasan" data-id="'+id+'" style="float:right">Ya</button><button type="button" class="btn btn-danger btn-modal-warning" data-dismiss="modal" style="float:left">Batal</button><div class="clearfix"></div>');
                    $('#modal-warning').modal('show');
                });

                $(document).on('click', '.ok-hapus-alasan-kepuasan', function(){
                    var id = $(this).attr('data-id');
                    $.ajax({
                        url: '{{request.scheme}}://{{request.META.HTTP_HOST}}/alasan_kepuasan/delete',
                        type: 'post',
                        data:{id:id},
                        success: function(data){
                            if(data.respon == 'success'){
                                $('.content-modal-success').html('<div id="text-modal-warning"><div style="font-size:1.4em;">Hapus!</div>Data berhasil dihapus.</div><div class="form-group btn-group-modal-success"><button type="button" class="btn btn-success btn-modal-warning btn-modal-success" onclick="window.location.reload()">OK</button></div>');
                                $('#modal-warning').modal('hide');
                                $('#modal-success').modal('show');
                            }
                        }
                    });
                });

                $('.kepuasan-kunjungan').click(function(){
                    var id = $(this).attr('data-id');
                    var nama = $(this).attr('data-nama-pengunjung');
                    $('#id-kunjungan-kepuasan').val(id);
                    $('#nama-pengunjung-kepuasan').val(nama);
                    $('#modal-kepuasan-kunjungan').modal('show');
                });

                $('.kepuasan-item').click(function(){
                    var id = $(this).attr('data-id');
                    var nama = $(this).attr('data-nama');
                    $('#id-kepuasan').val(id);
                    $('#nama-kepuasan').val(nama);
                    $('#form-kepuasan').submit();
                });

                {% block jscp %}{% endblock jscp %}
            });
        </script>
    </body>
</html>