{% extends 'base1.html' %}
{% load humanize %}
{% block title %}{{stok.nama}}{% endblock %}
{% block content %}

<div class="container body-content">
	<table class="table table-bordered" id="myTable">
			<thead>
				<tr>
					<th class="tb-no">No</th>
					<th>Produk</th>
					<th>Status Pemesanan</th>
					<th>Jumlah</th>
					<th>Harga</th>
					<th>Subtotal</th>
					<th>Rating</th>
					<th>ULasan</th>
				</tr>
			</thead>
			<tbody>
			{% for item in pesanan %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ item.nama_pemesan }}</td>
					<td>{{ item.status_pesanan }}</td>
					<td>{{ item.jumlah }}</td>
					<td>{{ item.harga }}</td>
					<td>{{ item.subtotal }}</td>
					<td>
					{% if item.rating == 1 %}
						<span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                {% elif item.rating == 2 %}
	                	<span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                {% elif item.rating == 3 %}
	                	<span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                {% elif item.rating == 4 %}
	                	<span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating"><i class="fas fa-star"></i></span>
	                {% elif item.rating == 5 %}
	                	<span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                    <span class="rating rating-s"><i class="fas fa-star"></i></span>
	                {% endif %}
					</td>
					<td>{{ item.komentar }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock %}